   
        
        <!-- start footer -->
        <div id="footer">
            <div id="footer-container">
            <ul>
                <li><a href="#"><img src="/imgs/fb.png" /></a></li>
                <li><a href="#"><img src="/imgs/g.png" /></a></li>
                <li><a href="#"><img src="/imgs/tw.png" /></a></li>
                <li><a href="#"><img src="/imgs/vimo.png" /></a></li>
            </ul>
            <p>&copy; iti 2017 All Right Reserved</p>
            </div>
        </div>
        <!-- end footer -->
    </body>
</html>
