<html>
    <head><title>Add User</title>
    <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- start header -->
        <div id="header">
         <div id="header-container">
                <a href="home.html" id="logo"><img src="/imgs/ka.png" alt="logo" width="70" height="70" /></a>
                <input type="text" placeholder="search" />
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/admin/allProducts">Prouducts</a></li>
                <li><a href="/admin/allUsers">Users</a></li>
                <li><a href="#">Manual Order</a></li>
                <li><a href="#">Checks</a></li>
                <li>
                    <a href="register.html">Admin</a>
                </li>
                <li>
                    <a href="register.html">
                        <img class="profImg" src="/imgs/min3.jpg" />
                    </a>
                </li>
                <li><a href="#" class="sign">Logout</a></li>
                
            </ul>
          </div>
        </div>
        <!-- end header -->
        