<html>

<head>
    <title>Products</title>
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- start header -->
    <div id="header">
        <div id="header-container">
            <a href="home.html" id="logo">
                <img src="img/ka.png" alt="logo" width="70" height="70" />
            </a>
            <input type="text" placeholder="search" />
            <ul>
                <li>
                    <a href="home.html">Home</a>
                </li>
                <li>
                    <a href="products.html">MY Orders</a>
                </li>

                <li>
                    <a href="register.html">Islam Askar</a>
                </li>
                <li>
                    <a href="register.html">
                        <img class="profImg" src="img/min3.jpg" />
                    </a>
                </li>
                <li>
                    <a href="register.html" class="sign">Logout</a>
                </li>

            </ul>
        </div>
    </div>
    <!-- end header -->



    <!-- start content-->
    <div id="contact">
        <div id="content-container">

            <div class="homeL">
                <form>
                    <label>Tea</label>
                    <input type="text" />
                    <button>+</button>
                    <button>-</button>
                    EGP
                    <span>25</span>
                    <br/><br/>
                    <label>Note</label>
                    <br/>
                    <textarea></textarea>
                    <br>
                    <label>Room</label>
                    <select>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="vw">VW</option>
                        <option value="audi" selected>Audi</option>
                    </select>
                    <br />
                    <hr />
                    <br />
                    <span>Total 70 EGP</span>
                    <br />
                    <input type="submit" value="confirm" />
                </form>
            </div>
            <div class="homeR">
                <div class="latest">
                <h1>Latest Order       
                </h1>
                <span>
                        <img src="img/ka.png" alt="logo" width="70" height="70" />
                </span>
                <span>
                        <img src="img/ka.png" alt="logo" width="70" height="70" />
                </span>
                <span>
                        <img src="img/ka.png" alt="logo" width="70" height="70" />
                </span>
                       
                <br />
                
                </div>
                <br />
                <div class="orderPrice" >
                    <span><img src="img/ka.png" alt="logo" width="70" height="70" /><br />
                        <span>10 LE</span>
                    </span>
                    <span><img src="img/ka.png" alt="logo" width="70" height="70" /><br />
                        <span>10 LE</span>
                    </span>
                    <span><img src="img/ka.png" alt="logo" width="70" height="70" /><br />
                        <span>10 LE</span>
                    </span>
                    <span><img src="img/ka.png" alt="logo" width="70" height="70" /><br />
                        <span>10 LE</span>
                    </span>
                    <span><img src="img/ka.png" alt="logo" width="70" height="70" /><br />
                        <span>10 LE</span>
                    </span>
                    <span><img src="img/ka.png" alt="logo" width="70" height="70" /><br />
                        <span>10 LE</span>
                    </span>
                    <span><img src="img/ka.png" alt="logo" width="70" height="70" /><br />
                        <span>10 LE</span>
                    </span>
                    <span><img src="img/ka.png" alt="logo" width="70" height="70" /><br />
                        <span>10 LE</span>
                    </span>
                       

                </div>
                 </div>






            </div>

        </div>

        <!-- start content-->








        <!-- start footer -->
        <div id="footer">
            <div id="footer-container">
                <ul>
                    <li>
                        <a href="#">
                            <img src="img/fb.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/g.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/tw.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/vimo.png" />
                        </a>
                    </li>
                </ul>
                <p>&copy; iti 2017 All Right Reserved</p>
            </div>
        </div>
        <!-- end footer -->
</body>

</html>