<html>
    <head><title>Login</title>
    <link href="css/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- start header -->
        <div id="header">
                <div id="header-container">
                    <a href="home.html" id="logo">
                        <img src="img/ka.png" alt="logo" width="70" height="70" />
                    </a>
                    <input type="text" placeholder="search" />
                    <ul>
                       
        
                        
                        
        
                    </ul>
                </div>
            </div>
            <!-- end header -->
        
        <!-- start content-->
        <div id="Register">
            <div id="content-container">
                
               
               
               <div id="logform">
                <h1>Login</h1>
                <form>
                    <input type="email" placeholder="email" />
                    <input type="password" placeholder="password" />
                    <input type="checkbox" name="remember" />remember me<br>
                    <input type="submit" value="login" />
                </form>
                
               </div>
               
                
                
            </div>
            
        </div>
        
        <!-- start content-->
        
        
        
        <!-- start footer -->
        <div id="footer">
            <div id="footer-container">
            <ul>
                <li><a href="#"><img src="img/fb.png" /></a></li>
                <li><a href="#"><img src="img/g.png" /></a></li>
                <li><a href="#"><img src="img/tw.png" /></a></li>
                <li><a href="#"><img src="img/vimo.png" /></a></li>
            </ul>
            <p>&copy; iti 2017 All Right Reserved</p>
            </div>
        </div>
        <!-- end footer -->
    </body>
</html>