<html>

<head>
    <title>Orders</title>
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- start header -->
    <div id="header">
            <div id="header-container">
                   <a href="home.html" id="logo"><img src="img/ka.png" alt="logo" width="70" height="70" /></a>
                   <input type="text" placeholder="search" />
               <ul>
                   <li><a href="#">Home</a></li>
                   <li><a href="#">Prouducts</a></li>
                   <li><a href="#">Users</a></li>
                   <li><a href="#">Manual Order</a></li>
                   <li><a href="#">Checks</a></li>
                   <li>
                       <a href="register.html">Admin</a>
                   </li>
                   <li>
                       <a href="register.html">
                           <img class="profImg" src="img/min3.jpg" />
                       </a>
                   </li>
                   <li><a href="#" class="sign">Logout</a></li>
                   
               </ul>
             </div>
           </div>
           <!-- end header -->



    <!-- start content-->
    <div id="contact">
        <div id="content-container">
                <h1>Orders</h1>
                <br>
                <br>
                
                <br>
                <br>
            <!-- start  order-->
            <div id="order-now">
                


                <table>
                    <tr>

                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Action</th>


                    </tr>
                    <!-- start row-->
                    <tr>

                        <td>2018/03/7 11:00 AM</td>
                        <td>Processing</td>

                        <td>50 EGP</td>
                        <td>
                            <a class="sign">Cancel</a>
                        </td>

                    </tr>
                    <!-- end row-->
                   
                   


                    <tr>



                        <td colspan="4" class="td_order_pic">


                            <span>
                                <img src="img/ka.png" alt="logo" width="70" height="70" />
                                <br />
                                <span>10 LE</span>
                            </span>
                            <span>
                                <img src="img/ka.png" alt="logo" width="70" height="70" />
                                <br />
                                <span>10 LE</span>
                            </span>
                            <span>
                                <img src="img/ka.png" alt="logo" width="70" height="70" />
                                <br />
                                <span>10 LE</span>
                            </span>
                            <span>
                                <img src="img/ka.png" alt="logo" width="70" height="70" />
                                <br />
                                <span>10 LE</span>
                            </span>
                            <span>
                                    <img src="img/ka.png" alt="logo" width="70" height="70" />
                                    <br />
                                    <span>10 LE</span>
                                </span>
                                <span>
                                        <img src="img/ka.png" alt="logo" width="70" height="70" />
                                        <br />
                                        <span>10 LE</span>
                                    </span>
                                    <span>
                                            <img src="img/ka.png" alt="logo" width="70" height="70" />
                                            <br />
                                            <span>10 LE</span>
                                        </span>
                                        <span>
                                                <img src="img/ka.png" alt="logo" width="70" height="70" />
                                                <br />
                                                <span>10 LE</span>
                                            </span>

                        </td>
                    </tr>

                </table>





            </div>    <!-- end  order-->

         <!-- start  order-->
         <div id="order-now">
               


                <table>
                    <tr>

                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Action</th>


                    </tr>
                    <!-- start row-->
                    <tr>

                        <td>2018/03/7 11:00 AM</td>
                        <td>Processing</td>

                        <td>50 EGP</td>
                        <td>
                            <a class="sign">Cancel</a>
                        </td>

                    </tr>
                    <!-- end row-->
                   
                   


                    <tr>



                        <td colspan="4" class="td_order_pic">


                            <span>
                                <img src="img/ka.png" alt="logo" width="70" height="70" />
                                <br />
                                <span>10 LE</span>
                            </span>
                            <span>
                                <img src="img/ka.png" alt="logo" width="70" height="70" />
                                <br />
                                <span>10 LE</span>
                            </span>
                            <span>
                                <img src="img/ka.png" alt="logo" width="70" height="70" />
                                <br />
                                <span>10 LE</span>
                            </span>
                            <span>
                                <img src="img/ka.png" alt="logo" width="70" height="70" />
                                <br />
                                <span>10 LE</span>
                            </span>
                            <span>
                                    <img src="img/ka.png" alt="logo" width="70" height="70" />
                                    <br />
                                    <span>10 LE</span>
                                </span>
                                <span>
                                        <img src="img/ka.png" alt="logo" width="70" height="70" />
                                        <br />
                                        <span>10 LE</span>
                                    </span>
                                    <span>
                                            <img src="img/ka.png" alt="logo" width="70" height="70" />
                                            <br />
                                            <span>10 LE</span>
                                        </span>
                                        <span>
                                                <img src="img/ka.png" alt="logo" width="70" height="70" />
                                                <br />
                                                <span>10 LE</span>
                                            </span>

                        </td>
                    </tr>

                </table>





            </div>    <!-- end  order-->


        </div>

    </div>









    <!-- start footer -->
    <div id="footer">
        <div id="footer-container">
            <ul>
                <li>
                    <a href="#">
                        <img src="img/fb.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/g.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/tw.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/vimo.png" />
                    </a>
                </li>
            </ul>
            <p>&copy; iti 2017 All Right Reserved</p>
        </div>
    </div>
    <!-- end footer -->
</body>

</html>