<%include ../layouts/header.ejs%>
<form action="/users/add" method="post">
    <input type="text" name='_id'/><br/>
    <input type="text" name='name'/><br/>
    <input type="submit" value="save"/>
</form>
<%include ../layouts/footer.ejs%>