<%include ../layouts/header.ejs%>
<form action="" method="post">
    <input type="text" name='_id' value="<%=data._id%>"/><br/>
    <input type="text" name='name'value="<%=data.name%>"/><br/>
    <input type="submit" value="save"/>
</form>
<%include ../layouts/footer.ejs%>